{
  "openapi": "3.0.3",
  "info": {
    "title": "Skynova Admin API",
    "version": "1.0.0",
    "description": "# Skynova Admin API\n\nBem-vindo à documentação da **API REST de administração da Skynova**. Por meio dela\nvocê gerencia, de forma programática, todos os recursos do seu ambiente: caixas\npostais, domínios, grupos de e-mail, contas de backup, recursos de Cloud, hospedagem,\nDNS, envios SMTP, clientes e muito mais.\n\n> **Base URL:** `https://api.skymail.net.br/v1`\n>\n> Todas as chamadas descritas nesta documentação são relativas a essa URL. O prefixo\n> de versão `/v1` é obrigatório.\n\n---\n\n## Sobre essa Documentação\n\n- A especificação completa está disponível em **OpenAPI 3.0** — use o botão de\n Importar Documentação para baixar o arquivo `openapi.yaml`/`openapi.json` e importá-lo em\n  ferramentas como Postman, Insomnia, Swagger Editor ou geradores de SDK.\n- As operações abaixo estão organizadas por grupo de recurso (caixas postais,\n  domínios, backup, cloud, etc.). Cada operação traz parâmetros, corpo de requisição,\n  exemplos de resposta e um exemplo `cURL` pronto para uso.\n\n---\n\nVisite a documentação em [Skynova Admin API](https://api.skymail.net.br/doc.html)\n\n---\n\n## Limites de uso (Rate Limit)\n\nA API permite **120 requisições a cada 60 segundos**. Toda resposta traz os seguintes\ncabeçalhos de controle:\n\n| Cabeçalho | Descrição | Exemplo |\n| --- | --- | --- |\n| `X-RateLimit-Limit` | Limite de requisições no período | `120` |\n| `X-RateLimit-Remaining` | Requisições restantes no período atual | `55` |\n| `X-RateLimit-Reset` | Momento em que o limite é renovado (Unix timestamp) | `1584419200` |\n\nAo exceder o limite, a API responde com **HTTP 429 (Too Many Requests)** em\n`application/json`:\n\n```json\n{\n    \"success\": false,\n    \"message\": \"You exceeded the rate limit of api. You have 120 requests per 60 seconds. Please wait until 2020-03-17 01:32:42 to request me again. See X-RateLimit-Limit, X-RateLimit-Remaining, X-RateLimit-Reset properties on header response to control it\"\n}\n```\n\n---\n\n## Formatos e padrões\n\nTodas as respostas são retornadas em **JSON**. As requisições com corpo usam, por\npadrão, `application/x-www-form-urlencoded` (como nos exemplos `curl --data` desta\ndocumentação).\n\n### Envelope de resposta\n\n| Situação | Formato |\n| --- | --- |\n| Sucesso (200) | `{ \"success\": true, \"message\": \"...\" }` |\n| Criação (201) | `{ \"success\": true, \"data\": { ... }, \"message\": \"...\" }` |\n| Erro de validação (400) | `{ \"success\": false, \"errors\": [{ \"campo\": \"mensagem\" }], \"message\": \"...\" }` |\n| Demais erros (403/404/409) | `{ \"success\": false, \"message\": \"...\" }` |\n\n### Códigos de status HTTP\n\n| Código | Significado |\n| --- | --- |\n| `200` | Requisição efetuada com sucesso |\n| `201` | Recurso criado com sucesso (apenas em `POST`) |\n| `400` | Erro de validação / formato inválido de campo |\n| `403` | You are not allowed to perform this operation para a operação |\n| `404` | Item não encontrado |\n| `409` | Item já existe (apenas em `POST`) |\n| `429` | Rate limit excedido |\n\n### Listas e paginação\n\nEndpoints de listagem retornam no máximo **50 itens** por página, acompanhados de um\natributo `total` com a quantidade real de registros existentes. Use os parâmetros de\npaginação (`page`/`perPage`, ou equivalentes documentados em cada endpoint) para\nnavegar pelos resultados.\n\n```json\n{\n    \"success\": true,\n    \"data\": [\n        { \"mail\": \"robertosilva@suaempresa.com.br\", \"displayName\": \"João da Silva\", \"accountType\": \"Skynova 25GB\" }\n    ],\n    \"total\": 1\n}\n```\n\n### Formatos de campos mais comuns\n\n| Formato | Regex de validação | Exemplo |\n| --- | --- | --- |\n| Nome de usuário | `(([a-z0-9]+)\\|(^[\\w\\d]{1}[\\w_\\.\\-\\d]+[\\w\\d]{1}))` | `meu.usuario481` |\n| Domínio | `\\b((?=[a-z0-9-]{1,63}\\.)(xn--)?[a-z0-9]+(-[a-z0-9]+)*\\.)+[a-z]{2,63}\\b` | `meudominio.com.br` |\n| E-mail | usuário + `@` + domínio | `meuusuario@meudominio.com.br` |\n| Senha | `.{6,}` (mín. 6 caracteres; alguns ambientes exigem 3 tipos de caractere) | — |\n| Telefone | `\\d{2}\\ \\d{4}\\-\\d{4,5}` | `(11) 9999 9999` |\n| String JWT | `^[A-Za-z0-9-_]+\\.[A-Za-z0-9-_]+\\.[A-Za-z0-9-_]*$` | — |\n\n### Campos multivalorados\n\nAtributos que aceitam múltiplos valores (ex.: `rfc822member`, `mailalternateaddress`)\nseguem o padrão de envio em forma de array de parâmetros:\n\n| Ação | Formato |\n| --- | --- |\n| Inserir um item | `atributo[valor]=true` — ex.: `rfc822member[membro@dominio.com]=true` |\n| Excluir um item | `atributo[valor]=` — ex.: `rfc822member[membro@dominio.com]=` |\n| Limpar o atributo | `atributo=` — ex.: `rfc822member=` |\n\n> Em chamadas de atualização (`PUT`), enviar um atributo com valor **vazio** equivale a\n> **excluir** aquele valor.\n\n### Bloqueio de horários (`logonhours`)\n\nCampo que representa um calendário semanal de acesso. São 7 linhas (domingo a sábado),\ncada uma com 24 caracteres (`0` = bloqueado, `1` = liberado), uma por hora do dia.\nExemplo de liberação em horário comercial nos dias úteis:\n\n```\n000000000000000000000000\n000000000111111111100000\n000000000111111111100000\n000000000111111111100000\n000000000111111111100000\n000000000111111111100000\n000000000000000000000000\n```\n\n",
    "contact": {
      "name": "Skynova",
      "url": "https://painel.skymail.com.br/settings#api"
    }
  },
  "servers": [
    {
      "url": "https://api.skymail.net.br/v1",
      "description": "Produção"
    }
  ],
  "tags": [
    {
      "name": "Autorização",
      "description": ""
    },
    {
      "name": "Backup",
      "description": "Chamadas relacionas à gestão de contas de backup, suas rotinas e relatórios de execuções."
    },
    {
      "name": "Caixas Postais",
      "description": "Chamadas de administração de informações de Caixas Postais"
    },
    {
      "name": "Caixas Postais - Identidades",
      "description": "Chamadas relacionadas as identidades da Caixa Postal do seu ambiente"
    },
    {
      "name": "Caixas Postais - Restaurar mensagens",
      "description": "Chamadas relacionadas à restauração de mensagens de e-mail a partir de backups de caixas postais."
    },
    {
      "name": "Caixas Postais - Template",
      "description": "Chamadas relacionadas aos templates de Caixa Postal do seu ambiente"
    },
    {
      "name": "Caixas Postais - Migração",
      "description": "Chamadas relacionadas à migração de caixas postais (rotinas, caxias postias e agendamentos)."
    },
    {
      "name": "Caixas Postais - Bloqueio de Feriado",
      "description": "Gerenciamento de feriados agendados para bloqueio de e-mails da caixa postal"
    },
    {
      "name": "Cloud",
      "description": "Chamadas relacionas à gestão de recursos de Cloud."
    },
    {
      "name": "Domínios",
      "description": "Chamadas de administração de informações de Domínios"
    },
    {
      "name": "Dns",
      "description": "Chamadas relacionas à gestão de zonas e entradas de DNS"
    },
    {
      "name": "Dns - Templates",
      "description": "Chamadas para gerenciamento de templates de DNS, utilizados para aplicar configurações padronizadas de entradas DNS a novos domínios."
    },
    {
      "name": "Envios SMTP",
      "description": "Chamadas para administrar recursos e relatórios de Envios SMTP"
    },
    {
      "name": "Grupos de e-mail",
      "description": "Chamadas de administração de Grupos de E-mail"
    },
    {
      "name": "Hospedagem",
      "description": "Chamadas para administração informações de Hospedagem"
    },
    {
      "name": "Clientes",
      "description": "Chamadas administrativas e de configuração do seu ambiente ou dos seus clientes"
    },
    {
      "name": "Clientes - Bloqueio de Feriado",
      "description": "Gerenciamento de feriados agendados para bloqueio de e-mails do cliente"
    },
    {
      "name": "Usuários Administrativos",
      "description": "Chamadas relacionadas à gestão de usuários administrativos da API e do Painel"
    },
    {
      "name": "Dashboard",
      "description": "Informações gerais relevantes ao seu ambiente"
    },
    {
      "name": "Relatórios",
      "description": "Chamadas para geração e consulta de relatórios de mensagens, acessos, logs e financeiro."
    },
    {
      "name": "Registro de Domínio",
      "description": "Chamadas relacionadas à gestão de informações de Registro de Domínio"
    },
    {
      "name": "WebHooks",
      "description": ""
    },
    {
      "name": "Antispam",
      "description": "Chamadas para gerenciamento de configurações de antispam, incluindo pontuação, listas de bloqueio e permissão de remetentes, domínios e IPs."
    },
    {
      "name": "Antispam - Dashboard",
      "description": "Chamadas para consulta de rankings e métricas de antispam por domínio."
    },
    {
      "name": "Veeam",
      "description": "Chamadas para consulta de informações de backup Veeam, incluindo agents, servidores de backup, máquinas virtuais, storage e máquinas protegidas."
    },
    {
      "name": "Templates - Bloqueio de Feriado",
      "description": "Gerenciamento de feriados agendados para bloqueio de e-mails do template"
    }
  ],
  "paths": {
    "/auth/login": {
      "post": {
        "tags": [
          "Autorização"
        ],
        "summary": "Criar Token de Autorização",
        "description": "Esta é uma chamada inicial obrigatória, e deve ser chamada pelo menos uma vez, pois ela gera e recupera uma chave pública que deve ser inserida dentro do Payload data do seu token JWT de todos os cabeçalho de autorização das outras chamadas.",
        "operationId": "post_auth_login",
        "requestBody": {
          "required": false,
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "properties": {
                  "username": {
                    "type": "string",
                    "description": "O usuário que é utilizado para entrar no painel de controle",
                    "example": "\\w+"
                  },
                  "password": {
                    "type": "string",
                    "description": "Senha do usuário. Existem restrições quanto a força da senha dependendo da política de cada ambiente.",
                    "example": ".{6,}"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Requisicao efetuada com sucesso.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "jti": {
                          "type": "string"
                        }
                      }
                    },
                    "message": {
                      "type": "string"
                    }
                  }
                },
                "example": {
                  "success": true,
                  "data": {
                    "jti": "(string)"
                  },
                  "message": "Token público de autorização gerado com sucesso"
                }
              }
            }
          },
          "400": {
            "description": "Erro na requisição. Geralmente um campo foi enviado em formato invalido.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "message": {
                      "type": "string"
                    }
                  }
                },
                "example": {
                  "success": false,
                  "message": "Ocorreu um erro na validação dos seus dados"
                }
              }
            }
          },
          "404": {
            "description": "Item not found",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "message": {
                      "type": "string"
                    }
                  }
                },
                "example": {
                  "success": false,
                  "message": "Usuário e senha não compatíveis"
                }
              }
            }
          },
          "403": {
            "description": "O usuario nao possui as permissoes necessarias para a operacao.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "message": {
                      "type": "string"
                    }
                  }
                },
                "example": {
                  "success": false,
                  "message": "Usuário não tem permissão de executar esta ação"
                }
              }
            }
          }
        },
        "x-codeSamples": [
          {
            "lang": "Shell",
            "label": "cURL",
            "source": "curl -i -X POST 'https://api.skymail.net.br/v1/auth/login' --data \"username=nomedeusuario@dominio.com.br&password=senhadousuario\" 'cache-control: no-cache'"
          }
        ]
      }
    },
    "/backup/client": {
      "get": {
        "tags": [
          "Backup"
        ],
        "summary": "Listar Contas",
        "description": "Esta é a chamada que retorna a lista de contas de backup",
        "operationId": "get_backup_client",
        "parameters": [
          {
            "name": "clientId",
            "in": "query",
            "description": "Retorna todas as contas de backup desde cliente",
            "required": false,
            "schema": {
              "type": "number",
              "example": "1"
            }
          },
          {
            "name": "search",
            "in": "query",
            "description": "Parte do nome da conta a ser buscada",
            "required": false,
            "schema": {
              "type": "string",
              "example": "nome_da_conta"
            }
          },
          {
            "name": "days",
            "in": "query",
            "description": "Retorna somente as contas criadas dentro desse número de dias",
            "required": false,
            "schema": {
              "type": "number",
              "example": "1"
            }
          },
          {
            "name": "login_only",
            "in": "query",
            "description": "Retorna somente os logins das contas.",
            "required": false,
            "schema": {
              "type": "number",
              "example": "1"
            }
          },
          {
            "name": "type_only",
            "in": "query",
            "description": "Retorna os logins das contas com seus tipos.",
            "required": false,
            "schema": {
              "type": "number",
              "example": "1"
            }
          },
          {
            "name": "sort",
            "in": "query",
            "description": "Define o campo de ordenação do resultado",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "registration_time",
                "backup_client_id"
              ],
              "example": "registration_time"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Requisicao efetuada com sucesso.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "QuotaUsed": {
                            "type": "integer"
                          },
                          "LoginName": {
                            "type": "string"
                          },
                          "Owner": {
                            "type": "string"
                          },
                          "ClientType": {
                            "type": "string"
                          },
                          "UserId": {
                            "type": "string"
                          },
                          "ID": {
                            "type": "string"
                          },
                          "clientId": {
                            "type": "integer"
                          },
                          "clientName": {
                            "type": "string"
                          }
                        }
                      }
                    }
                  }
                },
                "example": {
                  "success": true,
                  "data": [
                    {
                      "QuotaUsed": 6,
                      "LoginName": "backup_account_1",
                      "Owner": "",
                      "ClientType": "OBM",
                      "UserId": "backup_account_1#21533",
                      "ID": "1554896933312",
                      "clientId": 1,
                      "clientName": "Nome do Cliente"
                    },
                    {
                      "QuotaUsed": 9,
                      "LoginName": "backup_account_2",
                      "Owner": "",
                      "ClientType": "OBM",
                      "UserId": "backup_account_2#21533",
                      "ID": "1540492413684",
                      "clientId": 1,
                      "clientName": "Nome do Cliente"
                    },
                    {
                      "QuotaUsed": 18,
                      "LoginName": "backup_account_3",
                      "Owner": "",
                      "ClientType": "OBM",
                      "UserId": "backup_account_3#21533",
                      "ID": "1540406000542",
                      "clientId": 1,
                      "clientName": "Nome do Cliente"
                    }
                  ]
                }
              }
            }
          }
        },
        "x-codeSamples": [
          {
            "lang": "Shell",
            "label": "cURL",
            "source": "curl -i -X GET 'https://api.skymail.net.br/v1/backup/client?clientId=1&search=nome_da_conta&days=3&login_only=1&type_only=1&sort=registration_time' -H 'Authorization: bearer jwt.token.generated' 'cache-control: no-cache'"
          }
        ]
      },
      "post": {
        "tags": [
          "Backup"
        ],
        "summary": "Criar Conta",
        "description": "Esta é a chamada para criação de contas de Backup.",
        "operationId": "post_backup_client",
        "requestBody": {
          "required": true,
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "properties": {
                  "clientId": {
                    "type": "number",
                    "description": "ID do cliente proprietário dessa conta de backup",
                    "example": 1
                  },
                  "backupServerId": {
                    "type": "number",
                    "description": "ID do servidor de backup",
                    "example": 1
                  },
                  "backupClientId": {
                    "type": "string",
                    "example": "backup@dominio.com.br    Login da conta de backup"
                  },
                  "password": {
                    "type": "string",
                    "example": "#7Kd[2Ek;5Uc    Senha da conta de backup"
                  },
                  "timezone": {
                    "type": "string",
                    "enum": [
                      "`1001`",
                      "`1002`",
                      "`1003`",
                      "`1004`",
                      "`1005`",
                      "`1006`",
                      "`1008`",
                      "`1009`",
                      "`1010`",
                      "`1011`",
                      "`1012`",
                      "`1013`",
                      "`1014`",
                      "`1015`",
                      "`1016`",
                      "`1018`",
                      "`1019`",
                      "`1020`",
                      "`1021`",
                      "`1022`",
                      "`1023`",
                      "`1024`",
                      "`1025`",
                      "`1026`",
                      "`1028`",
                      "`1029`",
                      "`1030`",
                      "`1031`",
                      "`1032`",
                      "`1033`",
                      "`1034`",
                      "`1036`",
                      "`1037`",
                      "`1038`",
                      "`1039`",
                      "`1040`",
                      "`1041`",
                      "`1042`",
                      "`1043`",
                      "`1044`",
                      "`1045`",
                      "`1046`",
                      "`1047`",
                      "`1048`",
                      "`1049`",
                      "`1050`",
                      "`1051`",
                      "`1052`",
                      "`1053`",
                      "`1054`",
                      "`1055`",
                      "`1056`",
                      "`1057`",
                      "`1058`",
                      "`1059`",
                      "`1060`",
                      "`1061`",
                      "`1062`",
                      "`1063`",
                      "`1064`",
                      "`1065`",
                      "`1066`",
                      "`1067`",
                      "`1068`",
                      "`1069`",
                      "`1070`",
                      "`1071`",
                      "`1072`",
                      "`1073`",
                      "`1074`",
                      "`1075`",
                      "`1076`",
                      "`1077`",
                      "`1078`",
                      "`1079`",
                      "`1080`",
                      "`1081`",
                      "`1082`",
                      "`1083`",
                      "`1084`",
                      "`1085`",
                      "`1086`",
                      "`1087`",
                      "`1088`",
                      "`1089`",
                      "`1090`",
                      "`1091`",
                      "`1092`",
                      "`1093`",
                      "`1094`",
                      "`1095`",
                      "`1096`",
                      "`1097`",
                      "`1098`",
                      "`1099`",
                      "`1100`",
                      "`1101`",
                      "`1102`",
                      "`1103`",
                      "`1104`",
                      "`1105`",
                      "`1106`",
                      "`1107`",
                      "`1108`",
                      "`1109`",
                      "`1110`",
                      "`1111`",
                      "`1112`",
                      "`1113`",
                      "`1114`",
                      "`1115`",
                      "`1116`",
                      "`1117`",
                      "`1118`",
                      "`1119`",
                      "`1120`",
                      "`1121`",
                      "`1122`",
                      "`1123`",
                      "`1124`",
                      "`1125`",
                      "`1126`",
                      "`1127`",
                      "`1128`",
                      "`1129`",
                      "`1130`",
                      "`1131`",
                      "`1132`",
                      "`1133`",
                      "`1134`",
                      "`1135`",
                      "`1136`",
                      "`1137`",
                      "`1138`",
                      "`GMT+00:00 (BST)`",
                      "`GMT+00:00 (GMT)`",
                      "`GMT+00:00 (IST)`",
                      "`GMT+00:00 (UTC)`",
                      "`GMT+00:00 (WEST)`",
                      "`GMT+00:00 (WET)`",
                      "`GMT+01:00 (CEST)`",
                      "`GMT+01:00 (CET)`",
                      "`GMT+01:00 (WAT)`",
                      "`GMT+02:00 (CAT)`",
                      "`GMT+02:00 (EEST)`",
                      "`GMT+02:00 (EET)`",
                      "`GMT+02:00 (IDT)`",
                      "`GMT+02:00 (SAST)`",
                      "`GMT+03:00 (ADT)`",
                      "`GMT+03:00 (AST)`",
                      "`GMT+03:00 (EAT)`",
                      "`GMT+03:00 (MSD)`",
                      "`GMT+04:00 (AMST)`",
                      "`GMT+04:00 (AQTST)`",
                      "`GMT+04:00 (AZST)`",
                      "`GMT+04:00 (GEST)`",
                      "`GMT+04:00 (GST)`",
                      "`GMT+04:00 (MUT)`",
                      "`GMT+04:00 (RET)`",
                      "`GMT+04:00 (SAMST)`",
                      "`GMT+04:00 (SCT)`",
                      "`GMT+05:00 (IDT)`",
                      "`GMT+05:00 (KGST)`",
                      "`GMT+05:00 (MVT)`",
                      "`GMT+05:00 (PKT)`",
                      "`GMT+05:00 (TFT)`",
                      "`GMT+05:00 (TJT)`",
                      "`GMT+05:00 (TMT)`",
                      "`GMT+05:00 (UZT)`",
                      "`GMT+05:00 (YEKST)`",
                      "`GMT+06:00 (BDT)`",
                      "`GMT+06:00 (BTT)`",
                      "`GMT+06:00 (LKT)`",
                      "`GMT+06:00 (MAWT)`",
                      "`GMT+06:00 (NOVST)`",
                      "`GMT+07:00 (CXT)`",
                      "`GMT+07:00 (ICT)`",
                      "`GMT+07:00 (JAVT)`",
                      "`GMT+07:00 (KRAST)`",
                      "`GMT+08:00 (BNST)`",
                      "`GMT+08:00 (BORT)`",
                      "`GMT+08:00 (CST)`",
                      "`GMT+08:00 (HKT)`",
                      "`GMT+08:00 (IRKST)`",
                      "`GMT+08:00 (JAYT)`",
                      "`GMT+08:00 (MYT)`",
                      "`GMT+08:00 (PHT)`",
                      "`GMT+08:00 (SGT)`",
                      "`GMT+08:00 (ULAT)`",
                      "`GMT+08:00 (WST)`",
                      "`GMT+09:00 (JST)`",
                      "`GMT+09:00 (KST)`",
                      "`GMT+09:00 (PWT)`",
                      "`GMT+09:00 (YAKST)`",
                      "`GMT+10:00 (ChST)`",
                      "`GMT+10:00 (DDUT)`",
                      "`GMT+10:00 (EST)`",
                      "`GMT+10:00 (PGT)`",
                      "`GMT+10:00 (TRUST)`",
                      "`GMT+10:00 (VLAST)`",
                      "`GMT+11:00 (KOSST)`",
                      "`GMT+11:00 (MAGST)`",
                      "`GMT+11:00 (NCT)`",
                      "`GMT+11:00 (PONT)`",
                      "`GMT+11:00 (VUT)`",
                      "`GMT+12:00 (ANAST)`",
                      "`GMT+12:00 (FJT)`",
                      "`GMT+12:00 (GILT)`",
                      "`GMT+12:00 (MHT)`",
                      "`GMT+12:00 (NRT)`",
                      "`GMT+12:00 (NZST)`",
                      "`GMT+12:00 (PETST)`",
                      "`GMT+12:00 (TVT)`",
                      "`GMT+12:00 (WAKT)`",
                      "`GMT+12:00 (WFT)`",
                      "`GMT-01:00 (EGST)`",
                      "`GMT-02:00 (FNT)`",
                      "`GMT-02:00 (GST)`",
                      "`GMT-03:00 (ART)`",
                      "`GMT-03:00 (BRT)`",
                      "`GMT-03:00 (GFT)`",
                      "`GMT-03:00 (PMDT)`",
                      "`GMT-03:00 (SRT)`",
                      "`GMT-03:00 (UYT)`",
                      "`GMT-03:00 (WGST)`",
                      "`GMT-04:00 (ADT)`",
                      "`GMT-04:00 (AMT)`",
                      "`GMT-04:00 (AST)`",
                      "`GMT-04:00 (BOT)`",
                      "`GMT-04:00 (CLT)`",
                      "`GMT-04:00 (FKT)`",
                      "`GMT-04:00 (GYT)`",
                      "`GMT-04:00 (PYT)`",
                      "`GMT-04:00 (VET)`",
                      "`GMT-05:00 (ACT)`",
                      "`GMT-05:00 (CDT)`",
                      "`GMT-05:00 (COT)`",
                      "`GMT-05:00 (ECT)`",
                      "`GMT-05:00 (EDT)`",
                      "`GMT-05:00 (EST)`",
                      "`GMT-05:00 (GMT-`",
                      "`GMT-05:00 (PET)`",
                      "`GMT-06:00 (CDT)`",
                      "`GMT-06:00 (CST)`",
                      "`GMT-06:00 (EAST)`",
                      "`GMT-06:00 (GALT)`",
                      "`GMT-07:00 (MDT)`",
                      "`GMT-07:00 (MST)`",
                      "`GMT-07:00 (PDT)`",
                      "`GMT-08:00 (PST)`",
                      "`GMT-09:00 (AKST)`",
                      "`GMT-09:00 (GAMT)`",
                      "`GMT-10:00 (CKT)`",
                      "`GMT-10:00 (HADT)`",
                      "`GMT-10:00 (HST)`",
                      "`GMT-10:00 (THAT)`",
                      "`GMT-10:00 (TKT)`",
                      "`GMT-11:00 (NUT)`",
                      "`GMT-11:00 (SST)`",
                      "`GMT-11:00 (WST)`"
                    ],
                    "description": "Fuso horário da conta de backup",
                    "example": "GMT-03:00 ` (enum[string], required)"
                  },
                  "language": {
                    "type": "string",
                    "enum": [
                      "`ar`",
                      "`ca`",
                      "`cs`",
                      "`da`",
                      "`de`",
                      "`el`",
                      "`en`",
                      "`es`",
                      "`eu`",
                      "`fi`",
                      "`fr`",
                      "`iw`",
                      "`hu`",
                      "`in`",
                      "`it`",
                      "`ja`",
                      "`ko`",
                      "`lt`",
                      "`nl`",
                      "`no`",
                      "`pl`",
                      "`pt_BR`",
                      "`pt_PT`",
                      "`ru`",
                      "`sl`",
                      "`sv`",
                      "`th_TH`",
                      "`tr`",
                      "`vi`",
                      "`zh_CN`",
                      "`zh_TW`"
                    ],
                    "example": "pt_BR`    Idioma da conta de backup"
                  },
                  "items": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "description": "Lista com IDs das contratações e quantidades para relacionar com a conta de backup. É obrigatório quando não são enviados `products[]`",
                    "example": "items[1]=5"
                  },
                  "products": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "description": "Lista com IDs de produtos e quantidades a serem contratados para o cliente e relacionados com a conta de backup. É obrigatório quando não são enviados `items[]`",
                    "example": "products[110]=5"
                  },
                  "confirm_purchase": {
                    "type": "string",
                    "description": "Enviando o valor `true` que confirma a nova contratação de produto (ou incremento de quantidade contratada quando o produto já tiver sido contratado anteriormente)",
                    "example": "true"
                  },
                  "payment_info_id": {
                    "type": "number",
                    "description": "ID do ciclo de pagamento que receberá o novo produto contratado. Obrigatório quando há mais de um ciclo de pagamento ativo para o cliente",
                    "example": 1000
                  }
                },
                "required": [
                  "clientId",
                  "backupServerId",
                  "backupClientId",
                  "password",
                  "language"
                ]
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Recurso criado com sucesso (retornado apenas em metodos POST).",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "backupClientId": {
                      "type": "string"
                    },
                    "purchaseType": {
                      "type": "string"
                    },
                    "clientType": {
                      "type": "string"
                    },
                    "status": {
                      "type": "string"
                    },
                    "storage": {
                      "type": "integer"
                    },
                    "params": {
                      "type": "object",
                      "properties": {
                        "notes": {
                          "type": "string"
                        },
                        "id": {
                          "type": "string"
                        },
                        "statistics": {
                          "type": "object",
                          "properties": {
                            "RetentionAreaCompressedSize": {
                              "type": "integer"
                            },
                            "DataAreaUncompressedSize": {
                              "type": "integer"
                            },
                            "RetentionAreaFileCount": {
                              "type": "integer"
                            },
                            "DataAreaFileCount": {
                              "type": "integer"
                            },
                            "RetentionAreaUncompressedSize": {
                              "type": "integer"
                            },
                            "DataAreaCompressedSize": {
                              "type": "integer"
                            }
                          }
                        },
                        "last_login": {
                          "type": "string"
                        },
                        "client": {
                          "type": "object",
                          "properties": {
                            "last_login": {
                              "type": "string"
                            },
                            "version": {
                              "type": "string"
                            }
                          }
                        },
                        "language": {
                          "type": "string"
                        },
                        "alias": {
                          "type": "string"
                        },
                        "hosts": {
                          "type": "object",
                          "properties": {
                            "": {
                              "type": "string"
                            }
                          }
                        },
                        "backups": {
                          "type": "array",
                          "items": {}
                        },
                        "reseller": {
                          "type": "string"
                        },
                        "directories": {
                          "type": "object",
                          "properties": {
                            "top": {
                              "type": "string"
                            },
                            "home": {
                              "type": "string"
                            }
                          }
                        },
                        "contact": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "name": {
                                "type": "string"
                              },
                              "email": {
                                "type": "string"
                              }
                            }
                          }
                        }
                      }
                    },
                    "features": {
                      "type": "object",
                      "properties": {
                        "hosts": {
                          "type": "object",
                          "properties": {
                            "enabled": {
                              "type": "boolean"
                            },
                            "quota": {
                              "type": "integer"
                            }
                          }
                        },
                        "run_direct": {
                          "type": "object",
                          "properties": {
                            "enabled": {
                              "type": "boolean"
                            },
                            "quota": {
                              "type": "integer"
                            }
                          }
                        },
                        "hyper_v_guestvm": {
                          "type": "object",
                          "properties": {
                            "enabled": {
                              "type": "boolean"
                            },
                            "quota": {
                              "type": "integer"
                            }
                          }
                        },
                        "hyper_v_socket": {
                          "type": "object",
                          "properties": {
                            "enabled": {
                              "type": "boolean"
                            },
                            "quota": {
                              "type": "integer"
                            }
                          }
                        },
                        "vmware_guestvm": {
                          "type": "object",
                          "properties": {
                            "enabled": {
                              "type": "boolean"
                            },
                            "quota": {
                              "type": "integer"
                            }
                          }
                        },
                        "vmware_socket": {
                          "type": "object",
                          "properties": {
                            "enabled": {
                              "type": "boolean"
                            },
                            "quota": {
                              "type": "integer"
                            }
                          }
                        },
                        "open_direct_granular": {
                          "type": "object",
                          "properties": {
                            "enabled": {
                              "type": "boolean"
                            },
                            "quota": {
                              "type": "integer"
                            }
                          }
                        },
                        "office_365": {
                          "type": "object",
                          "properties": {
                            "enabled": {
                              "type": "boolean"
                            },
                            "quota": {
                              "type": "integer"
                            }
                          }
                        },
                        "exchange_mailbox": {
                          "type": "object",
                          "properties": {
                            "enabled": {
                              "type": "boolean"
                            },
                            "quota": {
                              "type": "integer"
                            }
                          }
                        },
                        "mobile": {
                          "type": "object",
                          "properties": {
                            "enabled": {
                              "type": "boolean"
                            },
                            "quota": {
                              "type": "integer"
                            }
                          }
                        },
                        "lotus_domino": {
                          "type": "object",
                          "properties": {
                            "enabled": {
                              "type": "boolean"
                            },
                            "quota": {
                              "type": "integer"
                            }
                          }
                        },
                        "lotus_notes": {
                          "type": "object",
                          "properties": {
                            "enabled": {
                              "type": "boolean"
                            },
                            "quota": {
                              "type": "integer"
                            }
                          }
                        },
                        "oracle_server": {
                          "type": "object",
                          "properties": {
                            "enabled": {
                              "type": "boolean"
                            },
                            "quota": {
                              "type": "integer"
                            }
                          }
                        },
                        "sql_server": {
                          "type": "object",
                          "properties": {
                            "enabled": {
                              "type": "boolean"
                            },
                            "quota": {
                              "type": "integer"
                            }
                          }
                        },
                        "mysql_server": {
                          "type": "object",
                          "properties": {
                            "enabled": {
                              "type": "boolean"
                            },
                            "quota": {
                              "type": "integer"
                            }
                          }
                        },
                        "exchange_server": {
                          "type": "object",
                          "properties": {
                            "enabled": {
                              "type": "boolean"
                            },
                            "quota": {
                              "type": "integer"
                            }
                          }
                        },
                        "windows_system_state": {
                          "type": "object",
                          "properties": {
                            "enabled": {
                              "type": "boolean"
                            },
                            "quota": {
                              "type": "integer"
                            }
                          }
                        },
                        "continuous_data_protection": {
                          "type": "object",
                          "properties": {
                            "enabled": {
                              "type": "boolean"
                            },
                            "quota": {
                              "type": "integer"
                            }
                          }
                        },
                        "windows_system": {
                          "type": "object",
                          "properties": {
                            "enabled": {
                              "type": "boolean"
                            },
                            "quota": {
                              "type": "integer"
                            }
                          }
                        },
                        "volume_shadow_copy": {
                          "type": "object",
                          "properties": {
                            "enabled": {
                              "type": "boolean"
                            },
                            "quota": {
                              "type": "integer"
                            }
                          }
                        },
                        "shadow_protect_system": {
                          "type": "object",
                          "properties": {
                            "enabled": {
                              "type": "boolean"
                            },
                            "quota": {
                              "type": "integer"
                            }
                          }
                        },
                        "in_file_delta": {
                          "type": "object",
                          "properties": {
                            "enabled": {
                              "type": "boolean"
                            },
                            "quota": {
                              "type": "integer"
                            }
                          }
                        },
                        "nas_synology": {
                          "type": "object",
                          "properties": {
                            "enabled": {
                              "type": "boolean"
                            },
                            "quota": {
                              "type": "integer"
                            }
                          }
                        },
                        "nas_qnap": {
                          "type": "object",
                          "properties": {
                            "enabled": {
                              "type": "boolean"
                            },
                            "quota": {
                              "type": "integer"
                            }
                          }
                        }
                      }
                    }
                  }
                },
                "example": {
                  "backupClientId": "backup@dominio.com.br",
                  "purchaseType": "paid",
                  "clientType": "skymail_bp",
                  "status": "active",
                  "storage": 53687091200,
                  "params": {
                    "notes": "Usuário criado via API",
                    "id": "1558720069753",
                    "statistics": {
                      "RetentionAreaCompressedSize": 0,
                      "DataAreaUncompressedSize": 0,
                      "RetentionAreaFileCount": 0,
                      "DataAreaFileCount": 0,
                      "RetentionAreaUncompressedSize": 0,
                      "DataAreaCompressedSize": 0
                    },
                    "last_login": "1970-01-01T00:00:00+00:00",
                    "client": {
                      "last_login": "1969-12-31T23:59:59+00:00",
                      "version": ""
                    },
                    "language": "pt_BR",
                    "alias": "Cliente Teste",
                    "hosts": {
                      "": ""
                    },
                    "backups": [],
                    "reseller": "",
                    "directories": {
                      "top": "/skymail/data/backup_servers/cbs/users",
                      "home": "/skymail/data/backup_servers/cbs/users/backup@dominio.com.br"
                    },
                    "contact": [
                      {
                        "name": "Cliente Teste",
                        "email": "backup@dominio.com.br"
                      }
                    ]
                  },
                  "features": {
                    "hosts": {
                      "enabled": true,
                      "quota": 5
                    },
                    "run_direct": {
                      "enabled": false,
                      "quota": 1
                    },
                    "hyper_v_guestvm": {
                      "enabled": false,
                      "quota": 0
                    },
                    "hyper_v_socket": {
                      "enabled": false,
                      "quota": 0
                    },
                    "vmware_guestvm": {
                      "enabled": false,
                      "quota": 0
                    },
                    "vmware_socket": {
                      "enabled": false,
                      "quota": 0
                    },
                    "open_direct_granular": {
                      "enabled": false,
                      "quota": 0
                    },
                    "office_365": {
                      "enabled": false,
                      "quota": 0
                    },
                    "exchange_mailbox": {
                      "enabled": false,
                      "quota": 0
                    },
                    "mobile": {
                      "enabled": false,
                      "quota": 0
                    },
                    "lotus_domino": {
                      "enabled": true,
                      "quota": 1
                    },
                    "lotus_notes": {
                      "enabled": true,
                      "quota": 1
                    },
                    "oracle_server": {
                      "enabled": true,
                      "quota": 1
                    },
                    "sql_server": {
                      "enabled": true,
                      "quota": 1
                    },
                    "mysql_server": {
                      "enabled": true,
                      "quota": 1
                    },
                    "exchange_server": {
                      "enabled": true,
                      "quota": 1
                    },
                    "windows_system_state": {
                      "enabled": true,
                      "quota": 1
                    },
                    "continuous_data_protection": {
                      "enabled": true,
                      "quota": 1
                    },
                    "windows_system": {
                      "enabled": true,
                      "quota": 1
                    },
                    "volume_shadow_copy": {
                      "enabled": true,
                      "quota": 1
                    },
                    "shadow_protect_system": {
                      "enabled": true,
                      "quota": 1
                    },
                    "in_file_delta": {
                      "enabled": true,
                      "quota": 1
                    },
                    "nas_synology": {
                      "enabled": false,
                      "quota": 1
                    },
                    "nas_qnap": {
                      "enabled": false,
                      "quota": 1
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Erro na requisição. Geralmente um campo foi enviado em formato invalido.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "message": {
                      "type": "string"
                    }
                  }
                },
                "example": {
                  "success": false,
                  "message": "Erro relacionado à operação. Exemplo: Formato de cpf/cnpj inválido"
                }
              }
            }
          },
          "403": {
            "description": "O usuario nao possui as permissoes necessarias para a operacao.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "message": {
                      "type": "string"
                    }
                  }
                },
                "example": {
                  "success": false,
                  "message": "Você não tem permissão para executar esta operação"
                }
              }
            }
          }
        },
        "x-codeSamples": [
          {
            "lang": "Shell",
            "label": "cURL",
            "source": "curl -i -X POST 'https://api.skymail.net.br/v1/backup/client' --data=\"clientId=1&backupServerId=1&items[123999]=5&items[456999]=2&backupClientId=nome_da_conta_de_backup&password=#7Kd[2Ek;5Uc&timezone=GMT-03:00 (BRT)&language=pt_BR\" -H 'Authorization: bearer jwt.token.generated' 'cache-control: no-cache'"
          }
        ]
      }
    },
    "/backup/client/{backup_client_id}": {
      "get": {
        "tags": [
          "Backup"
        ],
        "summary": "Recuperar informações de conta de backup",
        "description": "Esta é a chamada que retorna as informações completas de uma conta de backup selecionada.",
        "operationId": "get_backup_client_backup_client_id",
        "parameters": [
          {
            "name": "backup_client_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Requisicao efetuada com sucesso.",
            "content": {
              "text/plain": {
                "example": "{\n    \"success\": true,\n    \"data\": {\n        \"backup_client_id\": \"backup@dominio.com.br\",\n        \"client_id\": 1,\n        \"client_name\": \"Nome do Cliente\",\n        \"purchase_type\": \"paid\",\n        \"client_type\": \"skymail_bp\",\n        \"status\": \"active\",\n        \"storage\": 13194139533312,\n        \"params\": {\n            \"notes\": \"\",\n            \"id\": \"1554896933312\",\n            \"statistics\": {\n                \"DataAreaCompressedInGb\": 5613.88,\n                \"DataAreaCompressedInTb\": 5.48,\n                \"DataAreaCompressedSize\": 6027856511046,\n                \"DataAreaFileCount\": 722403,\n                \"DataAreaUncompressedInGb\": 7894.65,\n                \"DataAreaUncompressedInTb\": 7.71,\n                \"DataAreaUncompressedSize\": 8476814309329,\n                \"RetentionAreaCompressedInGb\": 1172.95,\n                \"RetentionAreaCompressedInTb\": 1.15,\n                \"RetentionAreaCompressedSize\": 1259442087836,\n                \"RetentionAreaFileCount\": 89,\n                \"RetentionAreaUncompressedInGb\": 2980.7,\n                \"RetentionAreaUncompressedInTb\": 2.91,\n                \"RetentionAreaUncompressedSize\": 3200502391740,\n                \"StorageInGb\": 12288.0,\n                \"StorageInTb\": 12.0,\n                \"TotalAreaCompressedInGb\": 6786.83,\n                \"TotalAreaCompressedInTb\": 6.63,\n                \"TotalAreaCompressedSize\": 7287298598882,\n                \"TotalAreaUncompressedInGb\": 10875.35,\n                \"TotalAreaUncompressedInTb\": 10.62,\n                \"TotalAreaUncompressedSize\": 11677316701069,\n                \"TotalFileCount\": 722492\n            },\n            \"last_login\": \"2020-02-17T08:00:39+00:00\",\n            \"last_login_time\": 1581926439548,\n            \"registration\": \"2019-04-10T11:48:53+00:00\",\n            \"registration_time\": 1554896933312,\n            \"client\": {\n                \"last_login\": \"2020-02-14T17:42:07+00:00\",\n                \"last_login_time\": 1581702127629,\n                \"version\": \"8.1.1.106\"\n            },\n            \"language\": \"en\",\n            \"timezone\": \"1040\",\n            \"alias\": \"\",\n            \"hosts\": {\n                \"server01\": \"Server01\",\n            },\n            \"backups\": [\n                \"1554904958752\",\n                \"1554905094973\",\n                \"1554905176048\",\n                \"1554905281045\",\n                \"1554905351238\",\n                \"1554905411268\",\n                \"1554906874690\",\n                \"1554907026628\",\n                \"1581600048270\",\n                \"1581601022931\",\n                \"1581601168744\",\n                \"1581601283590\",\n                \"1581601464314\",\n                \"1581601545018\",\n                \"1581601788679\",\n                \"1581601937684\",\n                \"1581602817379\",\n                \"1581602947101\",\n                \"1581603043937\",\n                \"1581606654947\",\n                \"1581606885679\",\n                \"1581701987539\"\n            ],\n            \"reseller\": \"\",\n            \"directories\": {\n                \"top\": \"/skymail/data/backup_servers/cbs/users\",\n                \"home\": \"/skymail/data/backup_servers/cbs/users/backup@dominio.com.br#21533\"\n            },\n            \"contact\": [\n                {\n                    \"name\": \"Backup Contact\",\n                    \"email\": \"it@dominio.com.br\",\n                    \"phone1\": \"\",\n                    \"phone2\": \"\"\n                }\n            ]\n        },\n        \"features\": {\n            \"hosts\": {\n                \"enabled\": true,\n                \"quota\": 6,\n                \"available\": true\n            },\n            \"run_direct\": {\n                \"enabled\": false,\n                \"quota\": 1,\n                \"available\": false\n            },\n            \"hyper_v_socket\": {\n                \"enabled\": true,\n                \"quota\": 10,\n                \"available\": true\n            },\n            \"hyper_v_guestvm\": {\n                \"enabled\": false,\n                \"quota\": 0,\n                \"available\": true\n            },\n            \"vmware_guestvm\": {\n                \"enabled\": false,\n                \"quota\": 0,\n                \"available\": true\n            },\n            \"vmware_socket\": {\n                \"enabled\": false,\n                \"quota\": 0,\n                \"available\": true\n            },\n            \"open_direct_granular\": {\n                \"enabled\": true,\n                \"quota\": 4,\n                \"available\": true\n            },\n            \"office_365\": {\n                \"enabled\": false,\n                \"quota\": 0,\n                \"available\": true\n            },\n            \"exchange_mailbox\": {\n                \"enabled\": false,\n                \"quota\": 0,\n                \"available\": true\n            },\n            \"mobile\": {\n                \"enabled\": false,\n                \"quota\": 0,\n                \"available\": true\n            },\n            \"lotus_domino\": {\n                \"enabled\": false,\n                \"quota\": 1,\n                \"available\": true\n            },\n            \"lotus_notes\": {\n                \"enabled\": false,\n                \"quota\": 1,\n                \"available\": true\n            },\n            \"oracle_server\": {\n                \"enabled\": false,\n                \"quota\": 1,\n                \"available\": true\n            },\n            \"sql_server\": {\n                \"enabled\": false,\n                \"quota\": 1,\n                \"available\": true\n            },\n            \"mysql_server\": {\n                \"enabled\": false,\n                \"quota\": 1,\n                \"available\": true\n            },\n            \"exchange_server\": {\n                \"enabled\": false,\n                \"quota\": 1,\n                \"available\": true\n            },\n            \"windows_system_state\": {\n                \"enabled\": true,\n                \"quota\": 1,\n                \"available\": true\n            },\n            \"continuous_data_protection\": {\n                \"enabled\": true,\n                \"quota\": 1,\n                \"available\": true\n            },\n            \"windows_system\": {\n                \"enabled\": true,\n                \"quota\": 1,\n                \"available\": true\n            },\n            \"volume_shadow_copy\": {\n                \"enabled\": true,\n                \"quota\": 1,\n                \"available\": true\n            },\n            \"shadow_protect_system\": {\n                \"enabled\": true,\n                \"quota\": 1,\n                \"available\": true\n            },\n            \"in_file_delta\": {\n                \"enabled\": true,\n                \"quota\": 1,\n                \"available\": true\n            },\n            \"nas_synology\": {\n                \"enabled\": false,\n                \"quota\": 1,\n                \"available\": true\n            },\n            \"nas_qnap\": {\n                \"enabled\": false,\n                \"quota\": 1,\n                \"available\": true\n            }\n        }\n    }\n}"
              }
            }
          },
          "403": {
            "description": "O usuario nao possui as permissoes necessarias para a operacao.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "message": {
                      "type": "string"
                    }
                  }
                },
                "example": {
                  "success": false,
                  "message": "You are not allowed to perform this operation"
                }
              }
            }
          },
          "404": {
            "description": "Item not found",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "message": {
                      "type": "string"
                    }
                  }
                },
                "example": {
                  "success": false,
                  "message": "Item não encontrado"
                }
              }
            }
          }
        },
        "x-codeSamples": [
          {
            "lang": "Shell",
            "label": "cURL",
            "source": "curl -i -X GET 'https://api.skymail.net.br/v1/backup/client/{backup_client_id}' -H 'Authorization: bearer jwt.token.generated' 'cache-control: no-cache'"
          }
        ]
      },
      "put": {
        "tags": [
          "Backup"
        ],
        "summary": "Atualizar contratações e dados de conta de backup",
        "description": "Esta é a chamada para atualizar contratações de uma conta de backup, alterando quantidades contratadas das licenças existentes, ou adicionando novas licenças em uma conta.",
        "operationId": "put_backup_client_backup_client_id",
        "parameters": [
          {
            "name": "backup_client_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "properties": {
                  "alias": {
                    "type": "string",
                    "description": "Nome do cliente ou algo que identifique esta conta de backup",
                    "example": "Nome do Cliente"
                  },
                  "timezone": {
                    "type": "string",
                    "enum": [
                      "`1001`",
                      "`1002`",
                      "`1003`",
                      "`1004`",
                      "`1005`",
                      "`1006`",
                      "`1008`",
                      "`1009`",
                      "`1010`",
                      "`1011`",
                      "`1012`",
                      "`1013`",
                      "`1014`",
                      "`1015`",
                      "`1016`",
                      "`1018`",
                      "`1019`",
                      "`1020`",
                      "`1021`",
                      "`1022`",
                      "`1023`",
                      "`1024`",
                      "`1025`",
                      "`1026`",
                      "`1028`",
                      "`1029`",
                      "`1030`",
                      "`1031`",
                      "`1032`",
                      "`1033`",
                      "`1034`",
                      "`1036`",
                      "`1037`",
                      "`1038`",
                      "`1039`",
                      "`1040`",
                      "`1041`",
                      "`1042`",
                      "`1043`",
                      "`1044`",
                      "`1045`",
                      "`1046`",
                      "`1047`",
                      "`1048`",
                      "`1049`",
                      "`1050`",
                      "`1051`",
                      "`1052`",
                      "`1053`",
                      "`1054`",
                      "`1055`",
                      "`1056`",
                      "`1057`",
                      "`1058`",
                      "`1059`",
                      "`1060`",
                      "`1061`",
                      "`1062`",
                      "`1063`",
                      "`1064`",
                      "`1065`",
                      "`1066`",
                      "`1067`",
                      "`1068`",
                      "`1069`",
                      "`1070`",
                      "`1071`",
                      "`1072`",
                      "`1073`",
                      "`1074`",
                      "`1075`",
                      "`1076`",
                      "`1077`",
                      "`1078`",
                      "`1079`",
                      "`1080`",
                      "`1081`",
                      "`1082`",
                      "`1083`",
                      "`1084`",
                      "`1085`",
                      "`1086`",
                      "`1087`",
                      "`1088`",
                      "`1089`",
                      "`1090`",
                      "`1091`",
                      "`1092`",
                      "`1093`",
                      "`1094`",
                      "`1095`",
                      "`1096`",
                      "`1097`",
                      "`1098`",
                      "`1099`",
                      "`1100`",
                      "`1101`",
                      "`1102`",
                      "`1103`",
                      "`1104`",
                      "`1105`",
                      "`1106`",
                      "`1107`",
                      "`1108`",
                      "`1109`",
                      "`1110`",
                      "`1111`",
                      "`1112`",
                      "`1113`",
                      "`1114`",
                      "`1115`",
                      "`1116`",
                      "`1117`",
                      "`1118`",
                      "`1119`",
                      "`1120`",
                      "`1121`",
                      "`1122`",
                      "`1123`",
                      "`1124`",
                      "`1125`",
                      "`1126`",
                      "`1127`",
                      "`1128`",
                      "`1129`",
                      "`1130`",
                      "`1131`",
                      "`1132`",
                      "`1133`",
                      "`1134`",
                      "`1135`",
                      "`1136`",
                      "`1137`",
                      "`1138`",
                      "`GMT+00:00 (BST)`",
                      "`GMT+00:00 (GMT)`",
                      "`GMT+00:00 (IST)`",
                      "`GMT+00:00 (UTC)`",
                      "`GMT+00:00 (WEST)`",
                      "`GMT+00:00 (WET)`",
                      "`GMT+01:00 (CEST)`",
                      "`GMT+01:00 (CET)`",
                      "`GMT+01:00 (WAT)`",
                      "`GMT+02:00 (CAT)`",
                      "`GMT+02:00 (EEST)`",
                      "`GMT+02:00 (EET)`",
                      "`GMT+02:00 (IDT)`",
                      "`GMT+02:00 (SAST)`",
                      "`GMT+03:00 (ADT)`",
                      "`GMT+03:00 (AST)`",
                      "`GMT+03:00 (EAT)`",
                      "`GMT+03:00 (MSD)`",
                      "`GMT+04:00 (AMST)`",
                      "`GMT+04:00 (AQTST)`",
                      "`GMT+04:00 (AZST)`",
                      "`GMT+04:00 (GEST)`",
                      "`GMT+04:00 (GST)`",
                      "`GMT+04:00 (MUT)`",
                      "`GMT+04:00 (RET)`",
                      "`GMT+04:00 (SAMST)`",
                      "`GMT+04:00 (SCT)`",
                      "`GMT+05:00 (IDT)`",
                      "`GMT+05:00 (KGST)`",
                      "`GMT+05:00 (MVT)`",
                      "`GMT+05:00 (PKT)`",
                      "`GMT+05:00 (TFT)`",
                      "`GMT+05:00 (TJT)`",
                      "`GMT+05:00 (TMT)`",
                      "`GMT+05:00 (UZT)`",
                      "`GMT+05:00 (YEKST)`",
                      "`GMT+06:00 (BDT)`",
                      "`GMT+06:00 (BTT)`",
                      "`GMT+06:00 (LKT)`",
                      "`GMT+06:00 (MAWT)`",
                      "`GMT+06:00 (NOVST)`",
                      "`GMT+07:00 (CXT)`",
                      "`GMT+07:00 (ICT)`",
                      "`GMT+07:00 (JAVT)`",
                      "`GMT+07:00 (KRAST)`",
                      "`GMT+08:00 (BNST)`",
                      "`GMT+08:00 (BORT)`",
                      "`GMT+08:00 (CST)`",
                      "`GMT+08:00 (HKT)`",
                      "`GMT+08:00 (IRKST)`",
                      "`GMT+08:00 (JAYT)`",
                      "`GMT+08:00 (MYT)`",
                      "`GMT+08:00 (PHT)`",
                      "`GMT+08:00 (SGT)`",
                      "`GMT+08:00 (ULAT)`",
                      "`GMT+08:00 (WST)`",
                      "`GMT+09:00 (JST)`",
                      "`GMT+09:00 (KST)`",
                      "`GMT+09:00 (PWT)`",
                      "`GMT+09:00 (YAKST)`",
                      "`GMT+10:00 (ChST)`",
                      "`GMT+10:00 (DDUT)`",
                      "`GMT+10:00 (EST)`",
                      "`GMT+10:00 (PGT)`",
                      "`GMT+10:00 (TRUST)`",
                      "`GMT+10:00 (VLAST)`",
                      "`GMT+11:00 (KOSST)`",
                      "`GMT+11:00 (MAGST)`",
                      "`GMT+11:00 (NCT)`",
                      "`GMT+11:00 (PONT)`",
                      "`GMT+11:00 (VUT)`",
                      "`GMT+12:00 (ANAST)`",
                      "`GMT+12:00 (FJT)`",
                      "`GMT+12:00 (GILT)`",
                      "`GMT+12:00 (MHT)`",
                      "`GMT+12:00 (NRT)`",
                      "`GMT+12:00 (NZST)`",
                      "`GMT+12:00 (PETST)`",
                      "`GMT+12:00 (TVT)`",
                      "`GMT+12:00 (WAKT)`",
                      "`GMT+12:00 (WFT)`",
                      "`GMT-01:00 (EGST)`",
                      "`GMT-02:00 (FNT)`",
                      "`GMT-02:00 (GST)`",
                      "`GMT-03:00 (ART)`",
                      "`GMT-03:00 (BRT)`",
                      "`GMT-03:00 (GFT)`",
                      "`GMT-03:00 (PMDT)`",
                      "`GMT-03:00 (SRT)`",
                      "`GMT-03:00 (UYT)`",
                      "`GMT-03:00 (WGST)`",
                      "`GMT-04:00 (ADT)`",
                      "`GMT-04:00 (AMT)`",
                      "`GMT-04:00 (AST)`",
                      "`GMT-04:00 (BOT)`",
                      "`GMT-04:00 (CLT)`",
                      "`GMT-04:00 (FKT)`",
                      "`GMT-04:00 (GYT)`",
                      "`GMT-04:00 (PYT)`",
                      "`GMT-04:00 (VET)`",
                      "`GMT-05:00 (ACT)`",
                      "`GMT-05:00 (CDT)`",
                      "`GMT-05:00 (COT)`",
                      "`GMT-05:00 (ECT)`",
                      "`GMT-05:00 (EDT)`",
                      "`GMT-05:00 (EST)`",
                      "`GMT-05:00 (GMT-`",
                      "`GMT-05:00 (PET)`",
                      "`GMT-06:00 (CDT)`",
                      "`GMT-06:00 (CST)`",
                      "`GMT-06:00 (EAST)`",
                      "`GMT-06:00 (GALT)`",
                      "`GMT-07:00 (MDT)`",
                      "`GMT-07:00 (MST)`",
                      "`GMT-07:00 (PDT)`",
                      "`GMT-08:00 (PST)`",
                      "`GMT-09:00 (AKST)`",
                      "`GMT-09:00 (GAMT)`",
                      "`GMT-10:00 (CKT)`",
                      "`GMT-10:00 (HADT)`",
                      "`GMT-10:00 (HST)`",
                      "`GMT-10:00 (THAT)`",
                      "`GMT-10:00 (TKT)`",
                      "`GMT-11:00 (NUT)`",
                      "`GMT-11:00 (SST)`",
                      "`GMT-11:00 (WST)`"
                    ],
                    "description": "Fuso horário da conta de backup",
                    "example": "GMT-03:00 ` (enum[string], required)"
                  },
                  "language": {
                    "type": "string",
                    "enum": [
                      "`ar`",
                      "`ca`",
                      "`cs`",
                      "`da`",
                      "`de`",
                      "`el`",
                      "`en`",
                      "`es`",
                      "`eu`",
                      "`fi`",
                      "`fr`",
                      "`iw`",
                      "`hu`",
                      "`in`",
                      "`it`",
                      "`ja`",
                      "`ko`",
                      "`lt`",
                      "`nl`",
                      "`no`",
                      "`pl`",
                      "`pt_BR`",
                      "`pt_PT`",
                      "`ru`",
                      "`sl`",
                      "`sv`",
                      "`th_TH`",
                      "`tr`",
                      "`vi`",
                      "`zh_CN`",
                      "`zh_TW`"
                    ],
                    "example": "pt_BR`    Idioma da conta de backup"
                  },
                  "items": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "description": "Lista com IDs das contratações e quantidades para relacionar com a conta de backup. É obrigatório quando não são enviados `products[]`",
                    "example": "items[1]=5"
                  },
                  "products": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "description": "Lista com IDs de produtos e quantidades a serem contratados para o cliente e relacionados com a conta de backup. É obrigatório quando não são enviados `items[]`",
                    "example": "products[110]=5"
                  },
                  "confirm_purchase": {
                    "type": "string",
                    "description": "Enviando o valor `true` que confirma a nova contratação de produto (ou incremento de quantidade contratada quando o produto já tiver sido contratado anteriormente)",
                    "example": "true"
                  },
                  "payment_info_id": {
                    "type": "number",
                    "description": "ID do ciclo de pagamento que receberá o novo produto contratado. Obrigatório quando há mais de um ciclo de pagamento ativo para o cliente",
                    "example": 1000
                  }
                },
                "required": [
                  "language",
                  "items"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Requisicao efetuada com sucesso.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "backupClientId": {
                      "type": "string"
                    },
                    "purchaseType": {
                      "type": "string"
                    },
                    "clientType": {
                      "type": "string"
                    },
                    "status": {
                      "type": "string"
                    },
                    "storage": {
                      "type": "integer"
                    },
                    "params": {
                      "type": "object",
                      "properties": {
                        "notes": {
                          "type": "string"
                        },
                        "id": {
                          "type": "string"
                        },
                        "statistics": {
                          "type": "object",
                          "properties": {
                            "RetentionAreaCompressedSize": {
                              "type": "integer"
                            },
                            "DataAreaUncompressedSize": {
                              "type": "integer"
                            },
                            "RetentionAreaFileCount": {
                              "type": "integer"
                            },
                            "DataAreaFileCount": {
                              "type": "integer"
                            },
                            "RetentionAreaUncompressedSize": {
                              "type": "integer"
                            },
                            "DataAreaCompressedSize": {
                              "type": "integer"
                            }
                          }
                        },
                        "last_login": {
                          "type": "string"
                        },
                        "client": {
                          "type": "object",
                          "properties": {
                            "last_login": {
                              "type": "string"
                            },
                            "version": {
                              "type": "string"
                            }
                          }
                        },
                        "language": {
                          "type": "string"
                        },
                        "alias": {
                          "type": "string"
                        },
                        "hosts": {
                          "type": "object",
                          "properties": {
                            "": {
                              "type": "string"
                            }
                          }
                        },
                        "backups": {
                          "type": "array",
                          "items": {}
                        },
                        "reseller": {
                          "type": "string"
                        },
                        "directories": {
                          "type": "object",
                          "properties": {
                            "top": {
                              "type": "string"
                            },
                            "home": {
                              "type": "string"
                            }
                          }
                        },
                        "contact": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "name": {
                                "type": "string"
                              },
                              "email": {
                                "type": "string"
                              }
                            }
                          }
                        }
                      }
                    },
                    "features": {
                      "type": "object",
                      "properties": {
                        "hosts": {
                          "type": "object",
                          "properties": {
                            "enabled": {
                              "type": "boolean"
                            },
                            "quota": {
                              "type": "integer"
                            }
                          }
                        },
                        "run_direct": {
                          "type": "object",
                          "properties": {
                            "enabled": {
                              "type": "boolean"
                            },
                            "quota": {
                              "type": "integer"
                            }
                          }
                        },
                        "hyper_v_guestvm": {
                          "type": "object",
                          "properties": {
                            "enabled": {
                              "type": "boolean"
                            },
                            "quota": {
                              "type": "integer"
                            }
                          }
                        },
                        "hyper_v_socket": {
                          "type": "object",
                          "properties": {
                            "enabled": {
                              "type": "boolean"
                            },
                            "quota": {
                              "type": "integer"
                            }
                          }
                        },
                        "vmware_guestvm": {
                          "type": "object",
                          "properties": {
                            "enabled": {
                              "type": "boolean"
                            },
                            "quota": {
                              "type": "integer"
                            }
                          }
                        },
                        "vmware_socket": {
                          "type": "object",
                          "properties": {
                            "enabled": {
                              "type": "boolean"
                            },
                            "quota": {
                              "type": "integer"
                            }
                          }
                        },
                        "open_direct_granular": {
                          "type": "object",
                          "properties": {
                            "enabled": {
                              "type": "boolean"
                            },
                            "quota": {
                              "type": "integer"
                            }
                          }
                        },
                        "office_365": {
                          "type": "object",
                          "properties": {
                            "enabled": {
                              "type": "boolean"
                            },
                            "quota": {
                              "type": "integer"
                            }
                          }
                        },
                        "exchange_mailbox": {
                          "type": "object",
                          "properties": {
                            "enabled": {
                              "type": "boolean"
                            },
                            "quota": {
                              "type": "integer"
                            }
                          }
                        },
                        "mobile": {
                          "type": "object",
                          "properties": {
                            "enabled": {
                              "type": "boolean"
                            },
                            "quota": {
                              "type": "integer"
                            }
                          }
                        },
                        "lotus_domino": {
                          "type": "object",
                          "properties": {
                            "enabled": {
                              "type": "boolean"
                            },
                            "quota": {
                              "type": "integer"
                            }
                          }
                        },
                        "lotus_notes": {
                          "type": "object",
                          "properties": {
                            "enabled": {
                              "type": "boolean"
                            },
                            "quota": {
                              "type": "integer"
                            }
                          }
                        },
                        "oracle_server": {
                          "type": "object",
                          "properties": {
                            "enabled": {
                              "type": "boolean"
                            },
                            "quota": {
                              "type": "integer"
                            }
                          }
                        },
                        "sql_server": {
                          "type": "object",
                          "properties": {
                            "enabled": {
                              "type": "boolean"
                            },
                            "quota": {
                              "type": "integer"
                            }
                          }
                        },
                        "mysql_server": {
                          "type": "object",
                          "properties": {
                            "enabled": {
                              "type": "boolean"
                            },
                            "quota": {
                              "type": "integer"
                            }
                          }
                        },
                        "exchange_server": {
                          "type": "object",
                          "properties": {
                            "enabled": {
                              "type": "boolean"
                            },
                            "quota": {
                              "type": "integer"
                            }
                          }
                        },
                        "windows_system_state": {
                          "type": "object",
                          "properties": {
                            "enabled": {
                              "type": "boolean"
                            },
                            "quota": {
                              "type": "integer"
                            }
                          }
                        },
                        "continuous_data_protection": {
                          "type": "object",
                          "properties": {
                            "enabled": {
                              "type": "boolean"
                            },
                            "quota": {
                              "type": "integer"
                            }
                          }
                        },
                        "windows_system": {
                          "type": "object",
                          "properties": {
                            "enabled": {
                              "type": "boolean"
                            },
                            "quota": {
                              "type": "integer"
                            }
                          }
                        },
                        "volume_shadow_copy": {
                          "type": "object",
                          "properties": {
                            "enabled": {
                              "type": "boolean"
                            },
                            "quota": {
                              "type": "integer"
                            }
                          }
                        },
                        "shadow_protect_system": {
                          "type": "object",
                          "properties": {
                            "enabled": {
                              "type": "boolean"
                            },
                            "quota": {
                              "type": "integer"
                            }
                          }
                        },
                        "in_file_delta": {
                          "type": "object",
                          "properties": {
                            "enabled": {
                              "type": "boolean"
                            },
                            "quota": {
                              "type": "integer"
                            }
                          }
                        },
                        "nas_synology": {
                          "type": "object",
                          "properties": {
                            "enabled": {
                              "type": "boolean"
                            },
                            "quota": {
                              "type": "integer"
                            }
                          }
                        },
                        "nas_qnap": {
                          "type": "object",
                          "properties": {
                            "enabled": {
                              "type": "boolean"
                            },
                            "quota": {
                              "type": "integer"
                            }
                          }
                        }
                      }
                    }
                  }
                },
                "example": {
                  "backupClientId": "backup@dominio.com.br",
                  "purchaseType": "paid",
                  "clientType": "skymail_bp",
                  "status": "active",
                  "storage": 53687091200,
                  "params": {
                    "notes": "Usuário criado via API",
                    "id": "1558720069753",
                    "statistics": {
                      "RetentionAreaCompressedSize": 0,
                      "DataAreaUncompressedSize": 0,
                      "RetentionAreaFileCount": 0,
                      "DataAreaFileCount": 0,
                      "RetentionAreaUncompressedSize": 0,
                      "DataAreaCompressedSize": 0
                    },
                    "last_login": "1970-01-01T00:00:00+00:00",
                    "client": {
                      "last_login": "1969-12-31T23:59:59+00:00",
                      "version": ""
                    },
                    "language": "pt_BR",
                    "alias": "Cliente Teste",
                    "hosts": {
                      "": ""
                    },
                    "backups": [],
                    "reseller": "",
                    "directories": {
                      "top": "/skymail/data/backup_servers/cbs/users",
                      "home": "/skymail/data/backup_servers/cbs/users/backup@dominio.com.br"
                    },
                    "contact": [
                      {
                        "name": "Cliente Teste",
                        "email": "backup@dominio.com.br"
                      }
                    ]
                  },
                  "features": {
                    "hosts": {
                      "enabled": true,
                      "quota": 5
                    },
                    "run_direct": {
                      "enabled": false,
                      "quota": 1
                    },
                    "hyper_v_guestvm": {
                      "enabled": false,
                      "quota": 0
                    },
                    "hyper_v_socket": {
                      "enabled": false,
                      "quota": 0
                    },
                    "vmware_guestvm": {
                      "enabled": false,
                      "quota": 0
                    },
                    "vmware_socket": {
                      "enabled": false,
                      "quota": 0
                    },
                    "open_direct_granular": {
                      "enabled": false,
                      "quota": 0
                    },
                    "office_365": {
                      "enabled": false,
                      "quota": 0
                    },
                    "exchange_mailbox": {
                      "enabled": false,
                      "quota": 0
                    },
                    "mobile": {
                      "enabled": false,
                      "quota": 0
                    },
                    "lotus_domino": {
                      "enabled": true,
                      "quota": 1
                    },
                    "lotus_notes": {
                      "enabled": true,
                      "quota": 1
                    },
                    "oracle_server": {
                      "enabled": true,
                      "quota": 1
                    },
                    "sql_server": {
                      "enabled": true,
                      "quota": 1
                    },
                    "mysql_server": {
                      "enabled": true,
                      "quota": 1
                    },
                    "exchange_server": {
                      "enabled": true,
                      "quota": 1
                    },
                    "windows_system_state": {
                      "enabled": true,
                      "quota": 1
                    },
                    "continuous_data_protection": {
                      "enabled": true,
                      "quota": 1
                    },
                    "windows_system": {
                      "enabled": true,
                      "quota": 1
                    },
                    "volume_shadow_copy": {
                      "enabled": true,
                      "quota": 1
                    },
                    "shadow_protect_system": {
                      "enabled": true,
                      "quota": 1
                    },
                    "in_file_delta": {
                      "enabled": true,
                      "quota": 1
                    },
                    "nas_synology": {
                      "enabled": false,
                      "quota": 1
                    },
                    "nas_qnap": {
                      "enabled": false,
                      "quota": 1
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "O usuario nao possui as permissoes necessarias para a operacao.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "message": {
                      "type": "string"
                    }
                  }
                },
                "example": {
                  "success": false,
                  "message": "You are not allowed to perform this operation"
                }
              }
            }
          },
          "404": {
            "description": "Item not found",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "message": {
                      "type": "string"
                    }
                  }
                },
                "example": {
[...]
